# Backend
DB_URL=jdbc:mysql://localhost:3306/production_monitoring?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=root
JWT_SECRET=ProductionMonitoringSystemSecretKeyForJwtMustBeLongEnough2026
JWT_EXPIRATION_MS=86400000

# Frontend
VITE_API_URL=http://localhost:8080/api
